@model Gunny.Models.InformationMemAccount.UserRegister

@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<link href="~/css/Login.css" rel="stylesheet" />
<p class="tip"></p>
@using (Html.BeginForm("PostRegisterNewPasswordd", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="cont">
        @if (@TempData["AlerMessageError"] != null)
        {
            <div class="alert alert-danger" role="alert" style="display: flex; justify-content: center; width: 100%; }">
                @TempData["AlerMessageError"]
            </div>
        }
        @if (@TempData["SucessMessageAccount"] != null)
        {
            <div class="alert alert-success" role="alert" style="display: flex; justify-content: center; width: 100%; }">
                @TempData["SucessMessageAccount"]
            </div>
        }
    <div class="form sign-in">
        <h2>Lấy lại mật khẩu Gunny Investment chỉ với Email </h2>
        <label>
            <span>Tên đăng nhập</span>
            @Html.TextBoxFor(m => m.UserName, "", new {  @class = "form-control", @placeholder = "" })
        </label>
        <label>
            <span>Email</span>
            @Html.TextBoxFor(m => m.Email, "", new { @type = "email", @class = "form-control", @placeholder = "" })
        </label>
        <button type="submit" class="submit">Đăng ký</button>
        <div>
            <a href="/dang-nhap" style=" display: flex; justify-content: center;">Đăng nhập</a>
        </div>
    </div>

        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>Nhiều sự kiện mới!</h2>
                    <p><a href="/dang-nhap">Đăng nhập</a> để quản lí khoản chơi game!</p>
                </div>

            </div>

        </div>
    </div>
}