@model Gunny.Models.SendMail.Payment;
@{
    ViewData["Title"] = "Thông tin nạp thẻ";
    Layout = "~/Views/Shared/_AccountAdmin.cshtml";
}
@using (Html.BeginForm("PostIndex", "Payment", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @if (@TempData["AlerMessageSuccess"] != null)
    {
        <div class="alert alert-success" role="alert" style="display: flex; justify-content: center; width: 100%; }">
            @TempData["AlerMessageSuccess"]
        </div>
    }
    @if (@TempData["AlerMessageError"] != null)
    {
        <div class="alert alert-danger" role="alert" style="display: flex; justify-content: center; width: 100%; }">
            @TempData["AlerMessageError"]
        </div>
    }
    <h1>Thông tin gửi email xác nhập nạp thẻ</h1>
    <table class="table table-bordered " style="margin-top:20px;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nạp xu</th>
                <th scope="col">Số tiền</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>1 xu</td>
                <td>25,000 vnđ</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>10 xu</td>
                <td> 250,000 vnđ</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td> 100 xu</td>
                <td>2,500,000 vnđ</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-3 gunny-text">
            Tài khoản
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 gunny-text">
            Số tiền nạp
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.NumberOfMoney, new { @class = "form-control", @placeholder = "10 xu" })
        </div>
        <div class="col-md-3" style="color:red">Tối thiểu: 10 xu </div>
    </div>
    <div class="row">
        <div class="col-md-3 gunny-text">
            Nội dung ghi chú
        </div>
        <div class="col-md-6">
            @Html.TextAreaFor(m => m.Note, new { @rows = 8, @class = "form-control", @placeholder = "Nội dung chuyển khoản ghi rõ tên đăng nhập, số tiền cần nạp" })
        </div>
        <div class="col-md-3" style="color:red">
        </div>
    </div>
    <div class="d-flex justify-content-center " style="margin-top:10px; margin-bottom:10px">
        <button type="submit" class="btn btn-primary  ">Gửi thông tin</button>
    </div>
    <div style="">
        <p style="text-align: center; color: red"> Vui lòng liên hệ fanpage để được hỗ trợ duyệt lệnh nhanh!</p>
    </div>
    <div class="row">
        <div class="col-md-3 gunny-text">
        </div>
        <div class="col-md-6" style="color: black;
                                border-style: solid;
                                border-width: 2px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                text-shadow:0.5px 0.866px 0px rgb(251 215 22 / 69%)">
            <div style="color:black">
                <p> Số Tài Khoản : 1903 297 161 0018</p>
                <p> Tên Ngân Hàng : Techcombank</p>
                <p> Chủ Tài Khoản : Hồ Anh Tuấn</p>
            </div>
        </div>
        <div class="col-md-3">
           
        </div>
    </div>
   
}