@model Gunny.Models.ChangePassword.ChangePassword
@{
    ViewData["Title"] = "Cập nhật mật khẩu cấp 2";
    Layout = "~/Views/Shared/_AccountAdmin.cshtml";
}
<h1>Cập nhật mật khẩu cấp 2</h1>
<hr />
@using (Html.BeginForm("UpdatePasswordLevel2", "ChangePassword", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @if (@TempData["AlerMessageSuccess"] != null)
    {
        <div class="alert alert-success" role="alert" style="display: flex; justify-content: center; width: 100%; }">
            @TempData["AlerMessageSuccess"]
        </div>
    }
    @if (@TempData["AlerMessageError"] != null)
    {
        <div class="alert alert-danger" role="alert" style="display: flex; justify-content: center; width: 100%; }">
            @TempData["AlerMessageError"]
        </div>
    }
    <div class="row">
        <div class="col-md-4 gunny-text">
            Tạo mới mật khẩu cấp 2
        </div>
        <div class="col-md-6">
            @Html.PasswordFor(m => m.Password2, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 gunny-text">
            Nhập lại mật khẩu cấp 2
        </div>
        <div class="col-md-6">
            @Html.PasswordFor(m => m.ConfirmPassword2, new { @class = "form-control" })
        </div>
    </div>

    <div class="d-flex justify-content-center " style="margin-top:10px; margin-bottom:10px">
        <button type="submit" class="btn btn-primary ">Cập nhật </button>
    </div>
}

